:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
.copy-wrapper button {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h6 {
  margin-top: 1rem;
  font-size: 2rem;
}

.copy-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  input {
    width: 80%;
    height: 100%;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
}
